*{
	margin: 0px;
	padding: 0px;

}

body{
	background-color:#BEC8D9;
}


#titlebar{
	background-color: #889ABE;
	box-shadow: 0px 5px 2px -2px #647189;
}
#title{
	font-family: 'Open Sans', sans-serif;
	color: #EFF3F2;
	text-align: center;
	padding: 5px 0px 5px 0px;
}

#button-container{
	text-align: center;
	margin: 40px 0px 0px 0px;
}

.button{
padding: 7px 16px 7px 16px;
font-size: 20px;
font-family: 'Open Sans', sans-serif;
color: #E2E5E5;
background-color: #7889AD;
border: 2px solid #647189;
border-radius: 10px;

}

.pad-size{
	margin: 0px 20px 0px 0px;
}

.clear{
	margin: 0px 0px 0px 20px;
}

#pad-container{
border: 1px solid;
width: 500px;
height: 500px;
margin: 15px auto;

}

.square{
	float: left;
	margin: 0px;
	padding: 0px;
	outline: 1px solid black;	
	
}